In [1]:
import pandas as pd

In [2]:
import glob
all_f= glob.glob('*_Results.csv')
all_f

['PRSA_data_2010_12_data_Results.csv',
 'Sale_Uni_392_data_Results.csv',
 'PM2.5_p09_data_Results.csv',
 'BeijingPM2.5_data_Results.csv',
 'Healthy_control_heart_data_Results.csv']

In [48]:
fn=4
d_n=all_f[fn].split(r'.')
dn=d_n[0]+d_n[1]
dn=dn.split(r'_')
dn=dn[0]+'_'+dn[1]+'_'+dn[2]
dn

'Healthy_control_heart'

In [49]:
li=[]
for file_name in all_f:
    df=pd.read_csv(file_name)
    li.append(df)

In [50]:
df=li[fn]
df

,Unnamed: 0,iteration_No,models,A_B_rmse,RMSE,A_B_mape,MAPE
0,0,0,BiLSTM,0.012301,0.014718,1.160993,1.861345
1,1,0,LSTM,0.010121,0.010240,1.026426,1.218901
2,2,<keras.engine.sequential.Sequential object at ...,GRU,0.005985,0.008282,0.651292,1.595369
3,3,0,CNN,0.018162,0.030212,1.473603,14.469004
4,4,0,RNN,0.012232,0.015972,1.762517,1.253413
5,5,1,BiLSTM,0.024504,0.035693,2.151530,5.530899
6,6,1,LSTM,0.007584,0.007158,1.587339,1.257933
7,7,<keras.engine.sequential.Sequential object at ...,GRU,0.007353,0.013568,0.586287,1.210485
8,8,1,CNN,0.008575,0.010583,1.047235,0.781799
9,9,1,RNN,0.006160,0.006583,1.301953,0.643145
10,10,2,BiLSTM,0.018618,0.025961,3.310234,71.223547
11,11,2,LSTM,0.010484,0.013613,1.567947,6.375751
12,12,<keras.engine.sequential.Sequential object at ...,GRU,0.004669,0.008690,0.529621,0.849345
13,13,2,CNN,0.014765,0.024163,1.029297,4.240958
14,14,2,RNN,0.009622,0.011835,0.927490,1.493702
15,15,3,BiLSTM,0.014926,0.021678,1.531906,3.231169
16,16,3,LSTM,0.017508,0.016771,2.224926,1.918726
17,17,<keras.engine.sequential.Sequential object at ...,GRU,0.004620,0.005239,13.167215,0.751995
18,18,3,CNN,0.005682,0.078087,3.935023,9.362877
19,19,3,RNN,0.007838,0.011010,1.041362,3.021214
20,20,4,BiLSTM,0.015209,0.026566,1.895826,4.773224
21,21,4,LSTM,0.009993,0.012580,1.010677,1.805087
22,22,<keras.engine.sequential.Sequential object at ...,GRU,0.005545,0.006865,0.587460,0.732757
23,23,4,CNN,0.017703,0.033142,3.604309,11.957637
24,24,4,RNN,0.058700,0.107144,5.707647,18.984274
25,25,5,BiLSTM,0.011958,0.011108,1.154592,1.828826
26,26,5,LSTM,0.009151,0.013779,1.767511,1.843896
27,27,<keras.engine.sequential.Sequential object at ...,GRU,0.008319,0.009672,1.618853,1.195597
28,28,5,CNN,0.020365,0.031061,1.489409,7.577019
29,29,5,RNN,0.010274,0.014344,0.933259,2.674003
30,30,6,BiLSTM,0.016216,0.023104,2.718142,3.074060
31,31,6,LSTM,0.012744,0.016356,1.321352,1.533144
32,32,<keras.engine.sequential.Sequential object at ...,GRU,0.013498,0.027390,2.143501,4.397874
33,33,6,CNN,0.011549,0.017011,16.859764,3.051998
34,34,6,RNN,0.013136,0.015559,1.572758,5.814847

In [51]:
'''df=pd.read_csv('BeijingPM2.5_data_Results.csv')
df'''

"df=pd.read_csv('BeijingPM2.5_data_Results.csv')\ndf"

In [52]:
m='BiLSTM' #model
find='models' #find models in columns
ind='iteration_No' #index
mo=m
mo = df.loc[df[find].isin([mo])] 
mo=mo.reset_index()
mo=mo.drop(columns=['Unnamed: 0',find,'index'])
mo=mo.set_index(ind)
v=mo.mean(axis=0)
ff=pd.DataFrame()
ff[m]=v
ff

             BiLSTM
A_B_rmse   0.016247
RMSE       0.022690
A_B_mape   1.989032
MAPE      13.074724

In [53]:
m='LSTM' #model
mo=m
mo = df.loc[df[find].isin([mo])] 
mo=mo.reset_index()
mo=mo.drop(columns=['Unnamed: 0',find,'index'])
mo=mo.set_index(ind)
v=mo.mean(axis=0)
ff[m]=v
ff

             BiLSTM      LSTM
A_B_rmse   0.016247  0.011084
RMSE       0.022690  0.012928
A_B_mape   1.989032  1.500883
MAPE      13.074724  2.279062

In [54]:
m='GRU' #model
mo=m
mo = df.loc[df[find].isin([mo])] 
mo=mo.reset_index()
mo=mo.drop(columns=['Unnamed: 0',find,'index'])
mo=mo.set_index(ind)
v=mo.mean(axis=0)
ff[m]=v
ff

             BiLSTM      LSTM       GRU
A_B_rmse   0.016247  0.011084  0.007141
RMSE       0.022690  0.012928  0.011387
A_B_mape   1.989032  1.500883  2.754890
MAPE      13.074724  2.279062  1.533346

In [55]:
m='CNN' #model
mo=m
mo = df.loc[df[find].isin([mo])] 
mo=mo.reset_index()
mo=mo.drop(columns=['Unnamed: 0',find,'index'])
mo=mo.set_index(ind)
v=mo.mean(axis=0)
ff[m]=v
ff

             BiLSTM      LSTM       GRU       CNN
A_B_rmse   0.016247  0.011084  0.007141  0.013829
RMSE       0.022690  0.012928  0.011387  0.032037
A_B_mape   1.989032  1.500883  2.754890  4.205520
MAPE      13.074724  2.279062  1.533346  7.348756

In [56]:
m='RNN' #model
mo=m
mo = df.loc[df[find].isin([mo])] 
mo=mo.reset_index()
mo=mo.drop(columns=['Unnamed: 0',find,'index'])
mo=mo.set_index(ind)
v=mo.mean(axis=0)
ff[m]=v
ff

             BiLSTM      LSTM       GRU       CNN       RNN
A_B_rmse   0.016247  0.011084  0.007141  0.013829  0.016852
RMSE       0.022690  0.012928  0.011387  0.032037  0.026064
A_B_mape   1.989032  1.500883  2.754890  4.205520  1.892426
MAPE      13.074724  2.279062  1.533346  7.348756  4.840657

In [57]:
ff=ff.T
#ff.rename(columns = {'2':'A_B_rmse', '3':'RMSE','4':'A_B_mape','5':'MAPE'}, inplace = True)
ff

        A_B_rmse      RMSE  A_B_mape       MAPE
BiLSTM  0.016247  0.022690  1.989032  13.074724
LSTM    0.011084  0.012928  1.500883   2.279062
GRU     0.007141  0.011387  2.754890   1.533346
CNN     0.013829  0.032037  4.205520   7.348756
RNN     0.016852  0.026064  1.892426   4.840657

In [58]:
ff.to_csv('mean/'+dn+'_mean_r.csv')