# Freadman test

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('RMSE.csv')
df

,DataSets,BiLSTM,CNN,GRU,Seq2Seq,V-LSTM,S_LSTM,CNN_BiLSTM,CNN_LSTM,GRU_BiLSTM
0,BHIWADI,23.13,57.20,22.34,24.20,19.60,48.14,45.98,43.50,35.30
1,JODHPUR,27.54,26.68,32.94,22.35,22.08,50.00,40.87,43.55,52.63
2,SINGRAULI,10.92,15.50,27.34,21.61,13.63,17.79,50.61,22.20,26.50
3,ANKLESHWAR,18.53,16.68,37.15,23.78,18.38,46.28,62.85,68.72,69.38
4,LUDHIANA,8.40,11.12,22.14,10.10,8.30,21.15,25.66,24.76,23.77
5,DURGAPUR,6.14,8.27,20.34,9.48,8.78,15.28,9.62,13.76,24.39
6,YAMUNA_NAGAR,37.34,34.57,56.27,36.33,38.18,66.14,72.39,45.63,74.13
7,CHARKHI_DADRI,18.42,20.43,27.96,18.43,18.06,40.71,46.16,45.27,43.48
8,JIND,24.17,26.42,34.35,25.85,19.41,79.22,62.13,43.59,50.95
9,KURUKSHETRA,27.14,72.03,43.56,27.32,26.70,65.77,39.71,88.12,53.74
10,SONIPAT,12.56,15.98,22.40,15.41,10.90,43.02,24.01,22.96,46.77
11,DHARUHERA,26.74,28.93,34.60,24.06,25.19,53.18,31.93,35.01,46.22
12,AMBALA,22.58,28.96,41.08,19.92,16.92,57.43,40.71,34.14,63.85
13,HISAR,28.34,66.79,47.93,33.98,30.99,63.29,43.16,49.10,62.46
14,FATEHABAD,14.37,38.36,72.71,15.51,15.58,38.38,74.38,76.75,72.64
15,BULANDSHAHR,7.39,8.87,19.79,11.19,7.20,14.98,9.61,13.16,11.51
16,MUZAFFARNAGAR,11.88,16.13,13.72,14.20,12.75,22.21,15.91,23.60,21.90

In [3]:
df1=df.copy()

In [4]:
df1

,DataSets,BiLSTM,CNN,GRU,Seq2Seq,V-LSTM,S_LSTM,CNN_BiLSTM,CNN_LSTM,GRU_BiLSTM
0,BHIWADI,23.13,57.20,22.34,24.20,19.60,48.14,45.98,43.50,35.30
1,JODHPUR,27.54,26.68,32.94,22.35,22.08,50.00,40.87,43.55,52.63
2,SINGRAULI,10.92,15.50,27.34,21.61,13.63,17.79,50.61,22.20,26.50
3,ANKLESHWAR,18.53,16.68,37.15,23.78,18.38,46.28,62.85,68.72,69.38
4,LUDHIANA,8.40,11.12,22.14,10.10,8.30,21.15,25.66,24.76,23.77
5,DURGAPUR,6.14,8.27,20.34,9.48,8.78,15.28,9.62,13.76,24.39
6,YAMUNA_NAGAR,37.34,34.57,56.27,36.33,38.18,66.14,72.39,45.63,74.13
7,CHARKHI_DADRI,18.42,20.43,27.96,18.43,18.06,40.71,46.16,45.27,43.48
8,JIND,24.17,26.42,34.35,25.85,19.41,79.22,62.13,43.59,50.95
9,KURUKSHETRA,27.14,72.03,43.56,27.32,26.70,65.77,39.71,88.12,53.74
10,SONIPAT,12.56,15.98,22.40,15.41,10.90,43.02,24.01,22.96,46.77
11,DHARUHERA,26.74,28.93,34.60,24.06,25.19,53.18,31.93,35.01,46.22
12,AMBALA,22.58,28.96,41.08,19.92,16.92,57.43,40.71,34.14,63.85
13,HISAR,28.34,66.79,47.93,33.98,30.99,63.29,43.16,49.10,62.46
14,FATEHABAD,14.37,38.36,72.71,15.51,15.58,38.38,74.38,76.75,72.64
15,BULANDSHAHR,7.39,8.87,19.79,11.19,7.20,14.98,9.61,13.16,11.51
16,MUZAFFARNAGAR,11.88,16.13,13.72,14.20,12.75,22.21,15.91,23.60,21.90

In [5]:
df1.rank(axis=1)

/tmp/ipykernel_125565/2229328328.py:1: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  df1.rank(axis=1)

,BiLSTM,CNN,GRU,Seq2Seq,V-LSTM,S_LSTM,CNN_BiLSTM,CNN_LSTM,GRU_BiLSTM
0,3.0,9.0,2.0,4.0,1.0,8.0,7.0,6.0,5.0
1,4.0,3.0,5.0,2.0,1.0,8.0,6.0,7.0,9.0
2,1.0,3.0,8.0,5.0,2.0,4.0,9.0,6.0,7.0
3,3.0,1.0,5.0,4.0,2.0,6.0,7.0,8.0,9.0
4,2.0,4.0,6.0,3.0,1.0,5.0,9.0,8.0,7.0
5,1.0,2.0,8.0,4.0,3.0,7.0,5.0,6.0,9.0
6,3.0,1.0,6.0,2.0,4.0,7.0,8.0,5.0,9.0
7,2.0,4.0,5.0,3.0,1.0,6.0,9.0,8.0,7.0
8,2.0,4.0,5.0,3.0,1.0,9.0,8.0,6.0,7.0
9,2.0,8.0,5.0,3.0,1.0,7.0,4.0,9.0,6.0
10,2.0,4.0,5.0,3.0,1.0,8.0,7.0,6.0,9.0
11,3.0,4.0,6.0,1.0,2.0,9.0,5.0,7.0,8.0
12,3.0,4.0,7.0,2.0,1.0,8.0,6.0,5.0,9.0
13,1.0,9.0,5.0,3.0,2.0,8.0,4.0,6.0,7.0
14,1.0,4.0,7.0,2.0,3.0,5.0,8.0,9.0,6.0
15,2.0,3.0,9.0,5.0,1.0,8.0,4.0,7.0,6.0
16,1.0,6.0,3.0,4.0,2.0,8.0,5.0,9.0,7.0

In [6]:
df1.rank(axis=1).mean()

/tmp/ipykernel_125565/4225902392.py:1: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  df1.rank(axis=1).mean()

BiLSTM        2.117647
CNN           4.294118
GRU           5.705882
Seq2Seq       3.117647
V-LSTM        1.705882
S_LSTM        7.117647
CNN_BiLSTM    6.529412
CNN_LSTM      6.941176
GRU_BiLSTM    7.470588
dtype: float64

# Note:- ## Min is best.

In [7]:
rmse=pd.read_csv('RMSE.csv')
rmse.rank(axis=1)
rmse.rank(axis=1).mean()

/tmp/ipykernel_125565/2868126475.py:2: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  rmse.rank(axis=1)
/tmp/ipykernel_125565/2868126475.py:3: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  rmse.rank(axis=1).mean()

BiLSTM        2.117647
CNN           4.294118
GRU           5.705882
Seq2Seq       3.117647
V-LSTM        1.705882
S_LSTM        7.117647
CNN_BiLSTM    6.529412
CNN_LSTM      6.941176
GRU_BiLSTM    7.470588
dtype: float64

In [8]:
mae=pd.read_csv('MAE.csv')

mae.rank(axis=1).mean()

/tmp/ipykernel_125565/790123330.py:3: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  mae.rank(axis=1).mean()

BiLSTM        1.852941
CNN           4.529412
GRU           5.705882
Seq2Seq       3.029412
V-LSTM        2.117647
S_LSTM        6.764706
CNN_BiLSTM    6.352941
CNN_LSTM      7.058824
GRU_BiLSTM    7.588235
dtype: float64

In [9]:
mape=pd.read_csv('MAPE.csv')
mape.rank(axis=1)
mape.rank(axis=1).mean()

/tmp/ipykernel_125565/474020793.py:2: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  mape.rank(axis=1)
/tmp/ipykernel_125565/474020793.py:3: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  mape.rank(axis=1).mean()

BiLSTM        1.794118
CNN           4.529412
GRU           5.676471
Seq2Seq       3.441176
V-LSTM        1.705882
S_LSTM        7.205882
CNN_BiLSTM    6.911765
CNN_LSTM      6.617647
GRU_BiLSTM    7.117647
dtype: float64

# Note:- ## Max is best.

In [10]:
rmse=pd.read_csv('RMSE.csv')
rmse.rank(axis=1,ascending=False).mean()

/tmp/ipykernel_125565/1885622059.py:2: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  rmse.rank(axis=1,ascending=False).mean()

BiLSTM        7.882353
CNN           5.705882
GRU           4.294118
Seq2Seq       6.882353
V-LSTM        8.294118
S_LSTM        2.882353
CNN_BiLSTM    3.470588
CNN_LSTM      3.058824
GRU_BiLSTM    2.529412
dtype: float64

In [11]:
mae=pd.read_csv('MAE.csv')
mae.rank(axis=1,ascending=False).mean()

/tmp/ipykernel_125565/2079393715.py:2: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  mae.rank(axis=1,ascending=False).mean()

BiLSTM        8.147059
CNN           5.470588
GRU           4.294118
Seq2Seq       6.970588
V-LSTM        7.882353
S_LSTM        3.235294
CNN_BiLSTM    3.647059
CNN_LSTM      2.941176
GRU_BiLSTM    2.411765
dtype: float64

In [12]:
mape=pd.read_csv('MAPE.csv')
mape.rank(axis=1,ascending=False).mean()

/tmp/ipykernel_125565/3654569019.py:2: FutureWarning: Dropping of nuisance columns in DataFrame.rank is deprecated; in a future version this will raise TypeError. Select only valid columns before calling rank.
  mape.rank(axis=1,ascending=False).mean()

BiLSTM        8.205882
CNN           5.470588
GRU           4.323529
Seq2Seq       6.558824
V-LSTM        8.294118
S_LSTM        2.794118
CNN_BiLSTM    3.088235
CNN_LSTM      3.382353
GRU_BiLSTM    2.882353
dtype: float64